<html>

<head>
<title>Pablo Vicente Munuera</title>
</head>

<body>

<header>
	<nav>
		Personal |
		<a href=""></a>
	</nav>
</header>

<h1>Personal page: Pablo Vicente Munuera</h1>

<p>SKILLs TAB</p>

<i>Programming languages:</i>
<ul>
	<li>R</li>
	<li>Java</li>
	<li>Python</li>
	<li>Matlab</li>
	<li>C/C++</li>
	<li>HTML5/Javascript/Php</li>
</ul>
<br/>
<i>Languages:</i>
<ul>
	<li>Spanish native</li>
	<li>English (Certificated by <a href="https://certs.duolingo.com/u2a8u3uc">Duolingo</a>).</li>
</ul>
<br/>
<i>Programming tools:</i>
<ul>
	<li>Git</li>
	<li>SVN</li>
	<li>General IDEs: Eclipse, netbeans, Rstudio, ...</li>
</ul>

<p>Eduction TAB</p>

<p>I'd like you to tell a <i>story</i>... When I was a young boy (around 17s), I didn't know what to do with my life. By those days, I wanted to be architect or aerospatial engineer... What a crazy idea, huh? I also like computers and my parents conviced me to study <b>computer science at the University of Alicante</b>. That was the <b><i>best</i></b> decision I've ever made in my professional life.</p>
<p>Another milestone in my life was my dissertation. In the last years of the University I changed my mind aboute myself. I had to finish my <i>(5 years) degree</i> (actually it's not a degree). I was committed to work hard and achieve what I wanted. My dissertation was with <i>Francisco Escolano</i> and he start the path in which i am right now: the <b>MSc in Bioinformatics</b>, with special emphasis in <b>complex networks</b>.</p>

<p>Hobbies tab</p>

<h3>Free time</h3>

I enjoy my life day by day. Walking around with my girlfriend, have a dinner with her, or just being with her, it's a pleasure. I also enjoy listening music, reading books and playing sports. I love programming and i'm a passionate of my profession or what I do for living.

<h3>Music</h3>

Checkout my profile on spotify: <a href="https://open.spotify.com/user/pablo_1990">profile</a>.

<h3>Sports</h3>

My sports is basketball, i really love play basket. But I enjoy play any kind of sports: football, tennis, running, walking, ...

<h3>Books</h3>

Checkout my profile on goodreads: <a href="https://www.goodreads.com/user/show/15879081-pablo-vicente-vicente">profile</a>.

<p>Other tab</p>

<h3>Events</h3>

I've assited to some hack-a-thon-s in the last years: Hackathon \"El Mundo\" (<a href=\"https://github.com/Pablo1990/BioinfoTeam\">link</a>), Hacking Medicine Madrid (<a href=\"https://github.com/rafassmail/hackMadrid\">link</a>) and spaceApps by "NASA" (<a href=\"https://2015.spaceappschallenge.org/project/chic-communication-human-imagination-creativity-advertising/\">link</a>).

<h3>Personal projects</h3>

In my university years, i've contributed to several projects (solo or group-based):
<i>Group-based</i>
<ul>
	<li><a href=\"https://github.com/Pablo1990/3DVideogameABPSlayers\">Slayers</a>: 3D videogame</li>
	<li><a href=\"https://github.com/fawques/CodeSpain\">Codespain</a>: It's a web app to let developer find easily developer events in Spain.</li>
	<li><a href=\"https://github.com/fawques/SOR\">SOR project</a>: </li>
</ul>

<i>Solo projects</i>
<ul>
	<li><a href=\"https://github.com/Pablo1990/BioinformaticsJobs\">bioinfoJobs</a>:</li>
	<li><a href=\"https://github.com/Pablo1990/BeThePerfectTraveller\">BeThePerfectTraveller</a>: Select the country you want to know and the app will show you what is the percentege you have to pay (or what is recommended) and an advice if you travell to that country.</li>
</ul>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

<footer style="border-top: 1px solid #e5e5e5; padding-top: 5%; text-align: center; color: #767676;">
	<i>Special thanks to: Mónica Martínez Farias, Francisco Escolano & my family.</i>
</footer>
</body>

</html>
